<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="parentService" class="com.patrick.spring.service.ParentService" abstract="true" scope="singleton">

	</bean>
	<bean id="userService" class="com.patrick.spring.service.UserService" abstract="false" scope="singleton"
		  parent="parentService" autowire="constructor">

	</bean>
</beans>